Source: ros-kilted-rmf-cmake-uncrustify
Section: misc
Priority: optional
Maintainer: Yadunund Vijay <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake-copyright <!nocheck>, ros-kilted-ament-cmake-core, ros-kilted-ament-cmake-lint-cmake <!nocheck>, ros-kilted-ament-cmake-test, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rmf-cmake-uncrustify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ament-cmake-test, ros-kilted-ament-uncrustify, ros-kilted-ros-workspace
Description: ament_cmake_uncrustify with support for parsing a config file.
